.open_popup {
  visibility: visible;
}
.glo-wrap {
  overflow: hidden;
}
.formula-item-popup,
.problems-item-popup {
  transition: opacity .5s;
  will-change: opacity;
}
.formula-item__icon:hover .formula-item-popup,
.problems-item__icon:hover .problems-item-popup {
  visibility: visible;
  opacity: 1;
}
.tooltip_reverse {
  padding-top: 40px;
  bottom: -210px;
}
.tooltip_reverse:before {
  transform: rotate(180deg);
}
.formula-item_cover,
.problems-item_cover {
  z-index: 1;
}
.formula-slider-wrap,
.problems-slider-wrap {
  position: relative;
}
.formula-slider,
.problems-slider {
  overflow: hidden;
  display: flex; 
  margin-top: 0;
}
.formula-slider__slide,
.problems-slider__slide {
  width: 33%;
  transition: margin .5s;
  will-change: margin;
  margin-left: 0;
  flex-shrink: 0;
}
.formula-one-slide,
.problems-one-slide {
  width: 100%;
}
.formula-slider_active,
.problems-slider__slide.active-item {
  opacity: 1;
}
.formula-slider_active .formula-item__icon-inner,
.active-item .problems-item__icon-inner {
  background: -webkit-gradient(linear,left top,right top,from(#f48922),to(#ffb015));
  background: linear-gradient(90deg,#f48922 0,#ffb015 100%);
  color: #ffffff;
}
.formula-slider_active .formula-item-popup,
.active-item .problems-item-popup {
  visibility: visible;
  opacity: 1;
}
.formula-item__icon:hover .formula-item__icon-inner,
.problems-item__icon:hover .problems-item__icon-inner {
  opacity: 1;
}
.formula-item__icon:hover .formula-item__icon-inner-text,
.problems-item__icon:hover .problems-item__icon-inner-text {
  color: #ffffff;
}
.formula-prev-slide,
.problems-prev-slide {
  margin-left: -33%;
}
.formula-one-slide.formula-prev-slide,
.problems-one-slide.problems-prev-slide {
  margin-left: -100%;
}
#problems-arrow_right {
  right: 20px;
}
#problems-arrow_left {
  left: 20px;
}
@media screen and (max-width: 1024px) {
  .formula-slider{
    padding-top: 100px;
    padding-bottom: 280px;
    min-height: auto;
    margin: 15px auto;
  }
  .formula-slider-wrap .slider-arrow {
    margin-top: -70px;
  }
  #formula-arrow_right {
    top: 40%;
  }
  #formula-arrow_left {
    top: 40%;
  }
}
@media screen and (max-width: 768px) {
  .formula-slider{
    padding-top: 70px;
    padding-bottom: 170px;
    min-height: auto;
    margin: 15px auto;
  }
  #formula-arrow_right {
    top: 37%;
  }
  #formula-arrow_left {
    top: 37%;
  }
}
.partners .wrapper {
  margin-top: 80px;
}
.partners .partners-slider {
  margin-top: 0;
}
@media screen and (max-width: 575px) {
  .partners .wrapper {
      margin-top: 50px;
  }
}
.reviews-slider {
  overflow: unset;
}
.reviews-slider-wrap {
  max-width: 700px;
}
#reviews-arrow_left {
  left: 20px;
}
#reviews-arrow_right {
  right: 20px;
}
@media screen and (max-width: 575px) {
  #reviews-arrow_right,
  #reviews-arrow_left {
      top: 50%;
  }
}
.popup-transparency-slider {
  overflow: unset;
}
.scheme-slider {
  overflow: unset;
}
.msg {
  transition: max-height .5s;
  will-change: transition;
}
.msg-active ~ .msg {
  max-height: 575px;
}
.popup-repair-types-content-table {
  overflow-x: hidden;
}
.nav-list {
  transition: none;
}

@media screen and (max-width: 1091px) {
  .formula-slider {
    padding: 150px 0 300px;
    min-height: unset;
  }
  .formula-slider-wrap .slider-arrow {
    margin-top: -62px;
  }
}
@media screen and (max-width: 768px) {
  .formula-slider {
    padding: 85px 0 280px;
    min-height: unset;
  }
  .problems-item {
    max-width: none;
  }
}

.repair-types-slider-wrap.glo-wrap {
  overflow: visible;
}
.glo-wrap .glo-wrap.repair-types-slider {
  display: block;
}
@media (max-width: 1024px) {
  .nav-list-repair,
  #designs-list {
    min-width: unset;
  }
  .repair-types-nav__item svg,
  .designs-nav__item svg {
    left: 0;
    right: 0;
    margin: 0 auto;
  } 
}
@media (min-width: 901px) {
  .portfolio-slider-wrap.glo-wrap {
    overflow: visible;
  }
}
.portfolio-slider {
  width: auto;
}
.portfolio-slider__slide {
  max-height: unset;
}
@media (min-width: 901px) {
  .portfolio-slider-wrap.glo-wrap {
    overflow: visible;
  }
}
@media (max-width: 900px) {
  #portfolio-arrow_right {
    right: 10px;
  }
  #portfolio-arrow_left {
    left: 10px;
  }
  .portfolio-slider-wrap {
    max-width: none;
  }
  
}
@media (min-width: 1025px) {
  .glo-wrap.portfolio-slider-wrap .desktop-hide {
      display: none;
  }
}
@media (max-width: 1024px) and (min-width: 576px) {
  .glo-wrap.portfolio-slider-wrap .tablet-hide {
    display: none;
  }
}
@media (max-width: 1024px) and (min-width: 900px) {
  #portfolio-arrow_right {
    right: -50px;
  }
  #portfolio-arrow_left {
    left: -50px;
  }
}
@media (max-width: 575px) {
  .glo-wrap .portfolio-slider.mobile-hide {
    display: none;
  }
  .portfolio-slider-wrap.glo-wrap {
    overflow: visible;
  }
  #portfolio-counter {
    z-index: 2;
  }
  .slider-counter-responsive{
    bottom: 1px;
  }
  .portfolio-slider__slide-frame:before {
    z-index: -1;
  }
  .portfolio-slider__slide-frame-img {
    max-width: 100%;
  }
  #portfolio-counter {
    margin-left: -19px;
  }
  #portfolio-arrow_left, #portfolio-arrow_right {
    display: none;
  }
}
.popup-portfolio-text.active {
  display: flex;
  align-items: center;
}
.glo-wrap.designs-slider-wrap .designs-slider {
  display: block;
}
.popup-design-slider {
  height: 100%;
}
.popup-design-slider > div,
.popup-design-slider > div > div {
  width: 100%;
}
.designs-slider__style-slide img {
  width: 100%;
  object-fit: fill;
}